input::-webkit-calendar-picker-indicator {
    opacity: 1;
}
.App {
  display: flex;
}

.canvas {
  display: flex;
  height: 100%;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.text-editor {
  border: none;
  padding: 20px 20px;
  transition: background .3s ease-in;
  text-align: center;
  width: 90%;
}
.text-editor:focus,
.text-editor:hover {
    background: #fff;
}


.sidebar {
  background: #333333;
  width: 25%;
}
.header {
  color: #FFF;
  font-family: Montserrat;
  margin-bottom: 50px;
  text-align: center;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.header span {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.header hr {
  border-color: #777272;
  border-width: 1px;
  width: 40%;
  margin: 0 auto;
}

.tools {
  color: #FFF;
  padding-left: 15px;
}
.section-title {
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
}

/* Ediable select input */
.font-size {
    position: relative;
    width: 60px;
}
.font-size select {
    width: 100%;
}
.font-size > * {
    box-sizing: border-box;
    height: 1.5em;
}
.font-size input {
    position: absolute;
    width: calc(100% - 20px);
}
