input {
  border: none;
  padding-left: 10px;
}
input:focus,
select:focus {
  outline: none;
}
select#fontsizes:focus {
  outline: none;
}
input::-webkit-calendar-picker-indicator {
    opacity: 1;
}
.App {
  display: flex;
}

.open-menu-icon {
  display: none;
}
.hint {
  display: none;
}
.canvas {
  display: flex;
  flex: 1;
  width: 75%;
  align-items: center;
  justify-content: center;
  transition: background .3s ease-in-out;
}
.text-editor {
  border: none;
  padding: 20px 20px;
  transition: all .3s ease-in-out;
  text-align: center;
  width: 90%;
}
.text-editor:focus,
.text-editor:hover {
    border: 1px dashed;
}
.sidebar {
  background: #333333;
  width: 230px;
}
.header {
  color: #FFF;
  font-family: Montserrat;
  margin-bottom: 50px;
  text-align: center;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.header span {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.header hr {
  border-color: #777272;
  border-width: 1px;
  width: 40%;
  margin: 0 auto;
}
.text-styler {
    max-width: 200px;
}
.tools {
  color: #FFF;
  padding-left: 15px;
}
.section-title {
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.text-typeface {
  margin-bottom: 15px;
}
/* Font selector */
.react-autosuggest__input {
  background: #000;
  border: none;
  color: #fff;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 15px;
  min-width: 191px;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  list-style: none;
  background: #000;
  color: #fff;
  padding-left: 0px;
  position: absolute;
  width: 201px;
  margin-top: -15px;
  max-height: 203px;
  overflow-y: scroll;
  z-index: 2;
}
.react-autosuggest__suggestion {
    padding: 8px 0px;
    padding-left: 8px;
}
.react-autosuggest__suggestion--highlighted {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.variants, .font-size {
    display: inline-block;
}
/* Font variant selector */
.variants {
  margin-right: 35px;
}
.variants select {
  background: #000;
  color: #fff;
  height: 30px;
  border:  0px;
}

/* Font size selector */
.font-size input, select {
  background: #000;
  border: none;
  color: #FFF;
  height: 30px;
  padding-left: 10px;
}

.text-color {
    margin-bottom: 30px;
}

/* Color picker */
.color--preview {
  cursor: pointer;
  width: 34px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
}
.color--input {
  background: #000;
  color: #fff;
  height: 30px;
  width: 68px;
}
.chrome-picker,
.github-picker {
  position: absolute;
  z-index: 2;
}
.chrome-picker--cover,
.github-picker--cover {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Ediable select input */
.font-size {
    position: relative;
    width: 60px;
    float: right;
}
.font-size select {
    width: 100%;
}
.font-size > * {
    box-sizing: border-box;
}
.font-size input {
    position: absolute;
    width: calc(100% - 20px);
}

/* Footer */
.credits {
    color: #fff;
    padding-left: 10px;
    position: absolute;
    bottom: 0px;
}
.me p {
  font-family: Roboto;
  margin-bottom: 5px;
}
a {
    color: #FFF;
    font-weight: bold;
}
.twitter-share-button {
  margin-right: 5px;
}
/* Mobile Styles */
@media all and (max-width: 768px) {
  .header {
    margin-bottom: 25px;
  }
  .hint {
    position: absolute;
    top: 100px;
    left: 10px;
    right: 0;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 10px;
}
  .open-menu-icon {
      display: block;
      position: fixed;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      background: #fff;
      border: none;
      padding: 5px 5px;
  }
  .open-menu-icon img {
    width: 100%;
  }
  .sidebar {
    position: fixed;
    z-index: 9;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: all .3s ease-in;
  }
  .sidebar.sidebar--open {
    transform: translate3d(0, 0, 0);
  }
  .text-editor {
    padding: 5px;
    text-align: left;
  }
}
