.App {
  display: flex;
}

.canvas {
  display: flex;
  height: 100%;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.text-editor {
  border: none;
  padding: 20px 20px;
  transition: background .3s ease-in;
  width: 90%;
}
.text-editor:focus,
.text-editor:hover {
    background: #fff;
}